<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>  
    <% for(let i=0; i<result.breakfast_menu.food.length; i++){ %>
        <h1><%= result.breakfast_menu.food[i].name[0] %></h1>
        <h2><%= result.breakfast_menu.food[i].price[0] %></h2>
        <h3><%= result.breakfast_menu.food[i].description[0] %></h3>
        <h4><%= result.breakfast_menu.food[i].calories[0] %></h4>
        <hr>
        <br><br>
    <% } %>
</body>
</html>